@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaLight/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot');
  src: url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
       url('../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url('../fonts/ProximaNovaBold/ProximaNovaBold.eot');
  src: url('../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'),
       url('../fonts/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  src: url('../fonts/ProximaNovaBlack/ProximaNovaBlack.eot');
  src: url('../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaBlack/ProximaNovaBlack.woff') format('woff'),
       url('../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf') format('truetype');
}